.head{
    margin: 10px;
}
.nav{
    margin: 10px;
}
.cont{
    margin: 10px;
    width: 95vw;
    height: 60;
    display: flex;
    justify-content: space-between;
    border: 1px solid green

}
.footer{
    margin: 10px;
}